 <!-- Site footer -->
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>About</h6>
                <p class="text-justify">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Minus voluptatibus, eos aut inventore ducimus sed sunt
                    doloremque,
                    expedita impedit culpa consectetur.
                    Omnis voluptates aut quaerat officia pariatur culpa quod
                    nemo.
                </p>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Categories</h6>
                <ul class="footer-links">
                    <li>
                        <a routerLink="phones">Phones</a>
                    </li>
                    <li>
                        <a routerLink="laptops">Laptops</a>
                    </li>
                    <li>
                        <a href="#">Tablettes</a>
                    </li>
                    <li>
                        <a href="#">Smartwatch</a>
                    </li>
                </ul>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Quick Links</h6>
                <ul class="footer-links">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Privacy
                            Policy</a></li>
                    <li><a href="#">Sitemap</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">
                    <strong>NIZAR</strong> & <strong>HAKIM</strong><br>
                    <span>storeElec</span>
                </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li><a class="facebook" href="#"><i class="text-white bi
                                bi-facebook"></i></a></li>
                    <li><a class="twitter" href="#"><i class="text-white bi
                                bi-twitter"></i></a></li>
                    <li><a class="dribbble" href="#"><i class="text-white bi
                                bi-dribbble"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="text-white bi
                                bi-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>