<div class="tout">
    <div class="ma div1">
        <div class="text">
            <h3>Microsoft</h3>
            <h1>Headphone</h1>
            <p style=" line-height: 30px; display: inline-block; font-weight:
                bold; ">From</p><p style="display: inline-block; color: red;">$455.99</p><br>
            <a style="margin-left:15px ; color: black;" href="#">Shop Now!</a>
        </div>
        <div>
            <img class="img1" src="../../../assets/images/data.png" alt=".">
        </div>
    </div>

    <div class="ma div2">
        <div class="text">
            <h3>Lenovo</h3>
            <h1 style=" font-weight: bold;">Pc Portable</h1>
            <p>Nouvel Ordinateur</p><br>
            <p style=" line-height: 30px; display: inline-block; font-weight:
                bold; ">From</p><p style="display: inline-block; color: red;">$455.99</p>
        </div>
        <div>
            <img class="img2" src="../../../assets/images/pc.png"
                alt="">
        </div>
    </div>

    <div class="div3">
        <div class="text">
            <h1 style="color: red; font-weight: 100;">Xiaomi</h1>
            <p class="par">Haut-parleur Bluetooth de xiaomi</p><br>
            <p style=" line-height: 25px; display: inline-block; font-weight:
                bold;
                ">From</p><p style="display: inline-block; color: red;">$455.99</p>
        </div>
        <div>
            <img class="img3" src="../../../assets/images/xiaomi.png"
                alt="image">
        </div>
    </div>
</div>