<div class="pub3 d-flex my-5 align-items-center flex-column container-fluid">
    <div *ngIf="slide == 1">
        <img width="1000em" height="400em"
            src="../../../assets/publication/pup1.png" alt="">
    </div>

    <div *ngIf="slide == 2">
        <img width="1000em" height="400em"
            src="../../../assets/publication/pub10.png" alt="">
    </div>
    <div *ngIf="slide == 3">
        <img width="1000em" height="400em"
            src="../../../assets/publication/pub3.png" alt="">
    </div>
    <div *ngIf="slide == 4">
        <img width="1000em" height="400em"
            src="../../../assets/publication/pub11.png" alt="">
    </div>
    <div *ngIf="slide == 5">
        <img width="1000em" height="400em"
            src="../../../assets/publication/pub12.png" alt="">
    </div>
    <div *ngIf="slide == 6">
        <img width="1000em" height="400em"
            src="../../../assets/publication/pub6.png" alt="">
    </div>
    <div *ngIf="slide == 7">
        <img width="1000em" height="400em"
            src="../../../assets/publication/pub7.png" alt="">
    </div>
    <div *ngIf="slide == 8">
        <img width="1000em" height="400em"
            src="../../../assets/publication/pub13.png" alt="">
    </div>
    <div *ngIf="slide == 9">
        <img width="1000em" height="400em"
            src="../../../assets/publication/pub14.png" alt="">
    </div>
    <div *ngIf="slide == 10">
        <img width="1000em" height="400em"
            src="../../../assets/publication/pub15.png" alt="">
    </div>
    <div *ngIf="slide == 11">
        <img width="1000em" height="400em"
            src="../../../assets/publication/pub16.png" alt="">
    </div>
    <div *ngIf="slide == 12">
        <img width="1000em" height="400em"
            src="../../../assets/publication/pub17.png" alt="">
    </div>
</div>