img {
  animation: in 0.4s ease, out 0.4s 2.65s ease;
}

@keyframes in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media (max-width: 1600px) {
  img {
    width: 45em;
    height: 20em;
  }
}

@media (max-width: 1350px) {
  img {
    width: 38em;
    height: 20em;
  }
}

@media (max-width: 780px) {
  .pub3,
  .pub3 div {
    display: none;
  }
}
