<div class="position-relative">
    <span style="font-family: oswald" class="position-absolute text-white
        text-center w-100 top: 15em">
        <h1 style="font-size: 15em">Welcome To</h1>
        <h2 style="font-size: 8em">Electro Elec</h2>
    </span>
    <img src="../../assets/images/aboutUs/back.png" style="margin-top: -1em;"
        alt="">
</div>

<div class="row" style="padding: 3em; align-items: center; justify-content:
    center;">
    <div class="col-lg-5">
        <img width="100% align-items-center"
            src="../../assets/images/aboutUs/img1.png" alt="">
    </div>
    <div class="col-lg-5">
        <p>
            <span style="color: blueviolet;">STORE ELEC </span> a été lancé en
            2022, mais son histoire a en fait <br>
            commencé lorsqu'un groupe d'amis a décidé de se lancer en affaires
            ensemble.
            Nous avons commencé à vendre des téléphones , des tablettes et des
            ordinateurs dans les magasins,
            mais notre ambition combinée, le dynamisme et les capacités nous ont
            rapidement fait rechercher de nouveaux défis et de nouveaux marchés.
            Le démarrage d'une boutique en ligne a fourni les deux et nous a
            permis de développer une forte présence dans le MAROC et dans le
            monde a venir inchallah
            !
        </p>
    </div>
</div>
<div class="row" style="padding: 3em; align-items: center; justify-content:
    center;">
    <div class="col-lg-5">
        <p>
            <span style="color: blueviolet;">STORE ELEC </span> a été lancé en
            2022, mais son histoire a en fait <br>
            commencé lorsqu'un groupe d'amis a décidé de se lancer en affaires
            ensemble.
            Nous avons commencé à vendre des téléphones , des tablettes et des
            ordinateurs dans les magasins,
            mais notre ambition combinée, le dynamisme et les capacités nous ont
            rapidement fait rechercher de nouveaux défis et de nouveaux marchés.
            Le démarrage d'une boutique en ligne a fourni les deux et nous a
            permis de développer une forte présence dans le MAROC et dans le
            monde a venir inchallah
            !
        </p>
    </div>
    <div class="col-lg-5">
        <img width="100% align-items-center"
            src="../../assets/images/aboutUs/img13.png" alt="">
    </div>
</div>

<div class="row" style="padding: 3em; align-items: center; justify-content:
    center;">
    <div class="col-lg-5">
        <img width="100% align-items-center"
            src="../../assets/images/aboutUs/img14.png" alt="">
    </div>
    <div class="col-lg-5">
        <p>
            <span style="color: blueviolet;">STORE ELEC </span> a été lancé en
            2022, mais son histoire a en fait <br>
            commencé lorsqu'un groupe d'amis a décidé de se lancer en affaires
            ensemble.
            Nous avons commencé à vendre des téléphones , des tablettes et des
            ordinateurs dans les magasins,
            mais notre ambition combinée, le dynamisme et les capacités nous ont
            rapidement fait rechercher de nouveaux défis et de nouveaux marchés.
            Le démarrage d'une boutique en ligne a fourni les deux et nous a
            permis de développer une forte présence dans le MAROC et dans le
            monde a venir inchallah
            !
        </p>
    </div>
</div>

<div class="row" style="padding: 3em; align-items: center; justify-content:
    center;">
    <div class="col-lg-5">
        <p>
            <span style="color: blueviolet;">STORE ELEC </span> a été lancé en
            2022, mais son histoire a en fait <br>
            commencé lorsqu'un groupe d'amis a décidé de se lancer en affaires
            ensemble.
            Nous avons commencé à vendre des téléphones , des tablettes et des
            ordinateurs dans les magasins,
            mais notre ambition combinée, le dynamisme et les capacités nous ont
            rapidement fait rechercher de nouveaux défis et de nouveaux marchés.
            Le démarrage d'une boutique en ligne a fourni les deux et nous a
            permis de développer une forte présence dans le MAROC et dans le
            monde a venir inchallah
            !
        </p>
    </div>
    <div class="col-lg-5">
        <img width="100% align-items-center"
            src="../../assets/images/aboutUs/img16.png" alt="">
    </div>
</div>

<div class="row" style="padding: 3em; align-items: center; justify-content:
    center;">
    <div class="col-5">
        <img width="100% align-items-center"
            src="../../assets/images/aboutUs/img17.png" alt="">
    </div>
    <div class="col-5">
        <p>
            <span style="color: blueviolet;">STORE ELEC </span> a été lancé en
            2022, mais son histoire a en fait <br>
            commencé lorsqu'un groupe d'amis a décidé de se lancer en affaires
            ensemble.
            Nous avons commencé à vendre des téléphones , des tablettes et des
            ordinateurs dans les magasins,
            mais notre ambition combinée, le dynamisme et les capacités nous ont
            rapidement fait rechercher de nouveaux défis et de nouveaux marchés.
            Le démarrage d'une boutique en ligne a fourni les deux et nous a
            permis de développer une forte présence dans le MAROC et dans le
            monde a venir inchallah
            !
        </p>
    </div>
</div>

<div class="row" style="padding: 3em; align-items: center; justify-content:
    center;">
    <div class="col-5">
        <p>
            <span style="color: blueviolet;">STORE ELEC </span> a été lancé en
            2022, mais son histoire a en fait <br>
            commencé lorsqu'un groupe d'amis a décidé de se lancer en affaires
            ensemble.
            Nous avons commencé à vendre des téléphones , des tablettes et des
            ordinateurs dans les magasins,
            mais notre ambition combinée, le dynamisme et les capacités nous ont
            rapidement fait rechercher de nouveaux défis et de nouveaux marchés.
            Le démarrage d'une boutique en ligne a fourni les deux et nous a
            permis de développer une forte présence dans le MAROC et dans le
            monde a venir inchallah
            !
        </p>
    </div>
    <div class="col-5">
        <img width="100% align-items-center"
            src="../../assets/images/aboutUs/img18.png" alt="">
    </div>
</div>

<div class="p-5 m-5">
    <div class="image">
        <img width="300px" height="400px"
            src="../../assets/images/aboutUs/img3.png"
            alt="">
        <img width="650px" height="500px"
            src="../../assets/images/aboutUs/img4.png"
            alt="">
        <img width="300px" height="400px"
            src="../../assets/images/aboutUs/img5.png"
            alt="">
    </div>
    <div class="image1">
        <img style="margin-top: -80px;" width="300px" height="400px"
            src="../../assets/images/aboutUs/img6.png">
        <img src="../../assets/images/aboutUs/img7.png" style="margin-top:
            20px;;"
            width="650px" height="300px" alt="">
        <img src="../../assets/images/aboutUs/img8.png" style="margin-top:-80px
            ;"
            width="300px" height="400px" alt="">
    </div>
    <div class="image2">
        <img src="../../assets/images/aboutUs/img9.png" width="500px"
            height="500px"
            alt="">
        <img src="../../assets/images/aboutUs/img10.png" width="450px"
            height="400px"
            alt="">
        <img src="../../assets/images/aboutUs/img11.png" width="300px"
            height="300px"
            alt="">
    </div>
    <div class="image3">
        <img src="../../assets/images/aboutUs/img12.png" width="500px"
            height="400px"
            alt="">
        <img src="../../assets/images/aboutUs/img14.png" width="450px"
            height="500px"
            style="margin-top: -90px">
        <img src="../../assets/images/aboutUs/img15.png" width="300px"
            height="600px"
            style="margin-top: -180px ">
    </div>
    <div class="image4">
        <img src="../../assets/images/aboutUs/img16.png" width="550px"
            height="400px"
            alt="">
        <img src="../../assets/images/aboutUs/img17.png" width="750px"
            height="400px"
            alt="">
    </div>


</div>