<div class="content">
    <div class="cadre" *ngIf="slide == 1">
        <div class="img img1">
            <img width="750em" height="400em"
                src="../../assets/publication/dell1.png" alt="">
        </div>
        <div class="d-flex">
            <div class="img img2">
                <img width="400em" height="300em"
                    src="../../assets/publication/lenovo5.jpg"
                    alt="">
            </div>
            <div class="img img3">
                <img width="450em" height="300em"
                    src="../../assets/publication/lenovo3.png"
                    alt="">
            </div>
        </div>
    </div>
    <div class="cadre" *ngIf="slide == 2">
        <div class="img img1">
            <img width="900em" height="400em"
                src="../../assets/publication/dell2.png" alt="">
        </div>
        <div class="d-flex">
            <div class="img img2">
                <img width="450em" height="300em"
                    src="../../assets/publication/lenovo1.png"
                    alt="">
            </div>
            <div class="img img3">
                <img width="450em" height="300em"
                    src="../../assets/publication/lenovo4.png"
                    alt="">
            </div>
        </div>
    </div>
    <div class="cadre" *ngIf="slide == 3">
        <div class="img img1">
            <img width="900em" height="400em"
                src="../../assets/publication/hp5.png" alt="">
        </div>
        <div class="d-flex">
            <div class="img img2">
                <img width="400em" height="300em"
                    src="../../assets/publication/dell4.png"
                    alt="">
            </div>
            <div class="img img3">
                <img width="450em" height="300em"
                    src="../../assets/publication/lenovo7.png"
                    alt="">
            </div>
        </div>
    </div>
    <div class="cadre" *ngIf="slide == 4">
        <div class="img img1">
            <img width="900em" height="400em"
                src="../../assets/publication/hp3.png" alt="">
        </div>
        <div class="d-flex">
            <div class="img img2">
                <img width="400em" height="300em"
                    src="../../assets/publication/dell3.png"
                    alt="">
            </div>
            <div class="img img3">
                <img width="400em" height="300em"
                    src="../../assets/publication/hp9.png"
                    alt="">
            </div>
        </div>
    </div>
</div>