<div class="content">
    <div class="slide">
        <div *ngIf="slide == 1">
            <img width="400em" height="400em"
                src="../../../assets/publication/samsung2.png"
                alt="">
        </div>
        <div *ngIf="slide == 2">
            <img width="450em" height="400em"
                src="../../../assets/publication/sumsung5.png" alt="">
        </div>
        <div *ngIf="slide == 3">
            <img width="400em" height="400em"
                src="../../../assets/publication/sumsung7.png" alt="">
        </div>
        <div *ngIf="slide == 4">
            <img width="400em" height="400em"
                src="../../../assets/publication/xaiomi1.png" alt="">
        </div>
        <div *ngIf="slide == 5">
            <img width="380em" height="400em"
                src="../../../assets/publication/honor1.png" alt="">
        </div>
        <div *ngIf="slide == 6">
            <img width="400em" height="400em"
                src="../../../assets/publication/oppo1.png" alt="">
        </div>
    </div>
</div>