<div class="content">
    <h1>
        Messages
    </h1>
    <div class="row">
        <div class="col-4">
            <ul class="list-group">

                <li class="list-group-item active">
                    mezrioui.hakim@gmail.com
                </li>
                <li class="list-group-item">
                    nizar.douirek@gmail.com
                </li>
                <li class="list-group-item">
                    soufian.challat@gmail.com
                </li>
                <li class="list-group-item">
                    mezrioui.hakim@gmail.com
                </li>
                <li class="list-group-item">
                    nizar.douirek@gmail.com
                </li>
                <li class="list-group-item">
                    soufian.challat@gmail.com
                </li>
                <li class="list-group-item">
                    mezrioui.hakim@gmail.com
                </li>
                <li class="list-group-item">
                    nizar.douirek@gmail.com
                </li>
                <li class="list-group-item">
                    soufian.challat@gmail.com
                </li>
                <li class="list-group-item">
                    mezrioui.hakim@gmail.com
                </li>
                <li class="list-group-item">
                    nizar.douirek@gmail.com
                </li>
                <li class="list-group-item">
                    soufian.challat@gmail.com
                </li>
            </ul>
        </div>
        <div class="col-5">
            <div class="messages">
                <div>
                    <ul class="list-group mb-2">
                        <li class="list-group-item">
                            Hello Hakim i hope you fine
                            i have question
                        </li>
                        <li class="list-group-item">
                            Hello Hakim i hope you fine
                            i have question
                        </li>
                        <li class="list-group-item">
                            Hello Hakim i hope you fine
                            i have question
                        </li>
                        <li class="list-group-item">
                            Hello Hakim i hope you fine
                            i have question
                        </li>
                        <li class="list-group-item">
                            Hello Hakim i hope you fine
                            i have question
                        </li>
                        <li class="list-group-item">
                            Hello Hakim i hope you fine
                            i have question
                        </li>
                    </ul>

                    <div class="w-75">
                        <form #form="ngForm">
                            <div class="form-group ">
                                <button class="btn btn-default">
                                    <i class="bi bi-images text-warning"></i>
                                </button>
                                <button class="btn btn-default">
                                    <i class="bi bi-folder text-info"></i>
                                </button>
                                <input required type="text" class="form-control
                                    me-3 my-1"
                                    placeholder="Enter your message">
                                <button class="btn btn-success my-1">
                                    <i class="bi bi-send-fill"></i>
                                </button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>