<div class="body">
  <div class="card pb-4">
    <div class="photo">
      <img src="../../../assets/suggestion/sug1.png" alt="" />
      <div class="buttons">
        <button class="btn text-white">
          <i class="bi bi-bookmark"></i>
        </button>
        <button class="btn text-white">
          <i class="bi bi-eye"></i>
        </button>
        <button class="btn text-white">
          <i class="bi bi-cart"></i>
        </button>
      </div>
    </div>
    <div class="title">
      <h5 class="my-3">Washing machines</h5>
      <p class="text-warning">200$-400$</p>
    </div>
  </div>
  <div class="card pb-4">
    <div class="photo">
      <img src="../../../assets/suggestion/sug3.png" alt="" />
      <div class="buttons">
        <button class="btn text-white">
          <i class="bi bi-bookmark"></i>
        </button>
        <button class="btn text-white">
          <i class="bi bi-eye"></i>
        </button>
        <button class="btn text-white">
          <i class="bi bi-cart"></i>
        </button>
      </div>
    </div>
    <div class="title">
      <h5 class="my-3">Phones</h5>
      <p class="text-warning">200$-400$</p>
    </div>
  </div>
  <div class="card pb-4">
    <div class="photo">
      <img src="../../../assets/suggestion/sug4.png" alt="" />
      <div class="buttons">
        <button class="btn text-white">
          <i class="bi bi-bookmark"></i>
        </button>
        <button class="btn text-white">
          <i class="bi bi-eye"></i>
        </button>
        <button class="btn text-white">
          <i class="bi bi-cart"></i>
        </button>
      </div>
    </div>
    <div class="title">
      <h5 class="my-3">Laptops</h5>
      <p class="text-warning">200$-400$</p>
    </div>
  </div>
</div>
