<!-- <div class="card" title="IPHONE">
    <div class="badge bg-danger price float-left">
        100$
    </div>
    <div class="badge bg-success remise float-left">
        -90%
    </div>
    <div class="backgrandient">
    </div>    
        <div class="title">
            <h3>iphone</h3>
        </div>
        <div class="buttons d-flex justify-content-center">
            <button class="btn btn-secondary" title="add to card">
                <i class="bi bi-cart-plus-fill"></i>
            </button>
            <button class="btn btn-success" title="read-more">
                <i class="bi bi-eye-fill"></i>
            </button>
            <button class="btn btn-success" title="save it">
                <i class="bi bi-bookmark-plus-fill"></i>
            </button>
        </div> 
</div> -->
<div class="card" [title]="title">
    <div class="reduction">
        <p class="badge bg-success">-10%</p>
    </div>
    <div [routerLink]="link" class="img">
        <img [src]="image" alt="">
    </div>
    <div routerLink="../1/iphone/phone" class="btn">
        <button class="read_more">read more!</button>
    </div>
    <div class="body">
        <h3>{{title}}</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <hr>
    </div>
    <div class="footer">
        <P>{{price}} $</P>
        <div class="buttons">
            <button (click)="addToSave()" class="btn bi bi-bookmark-plus-fill"></button>
            <button (click)="addToPanier()" class="btn bi bi-cart-plus-fill"></button>
        </div>
    </div>
</div>