
<h1 class="titre">STORE ELEC</h1>

<!-- <app-left-section></app-left-section> -->
<div class="cards">
    <div *ngFor="let card of cards, let i= index">
        <app-card1 [index]="i" [type]="card.type" [image]="card.img"
            [price]="card.price" [title]="card.name"></app-card1>
    </div>
</div>
<div>
    <app-pub1></app-pub1>
</div>

<!-- <div>
    <app-pub2></app-pub2>
</div> -->

<!-- <div class="cards">
    <app-card2 *ngFor="let card of cards"></app-card2>
</div> -->

<!-- <div>
    <app-pub3></app-pub3>
</div> -->

<nav class="my-5" aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <a class="page-link">Previous</a>
        </li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>